.information-container,
.slider-container,
.range-values,
.grid-container, 
.grid-rows {
    display: flex;
}

.grid-container,
.grid-rows {
    justify-content: space-evenly;
}

.information-container,
.range-values,
.grid-container {
    flex-direction: column;
}

.information-container {
    width: 70px;
    align-items: center;
}

.slider {
    height: 30vmin;
    width: 30px;
    appearance: slider-vertical;
}

.range-values {
    height: 30vmin;
    width: 30px;  
    justify-content: space-between;
}

.grid-container {
    background-color: black;
    height: 95vmin;
    width: 95vmin;
    
    
    /* Center container */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

